<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travelers">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Travelers"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.travelers.presentation.MainActivity"
            android:label="Travelers"></activity>
        <activity
            android:name="com.travelers.presentation.FlightList"
            android:parentActivityName="com.travelers.presentation.FlightForm" />
        <activity
            android:name="com.travelers.presentation.FlightForm"
            android:parentActivityName="com.travelers.presentation.MainActivity" />
        <activity
            android:name="com.travelers.presentation.Summary"
            android:parentActivityName="com.travelers.presentation.FlightList" />
        <activity
            android:name="com.travelers.presentation.Payment"
            android:parentActivityName="com.travelers.presentation.Summary"></activity>
        <activity
            android:name="com.travelers.presentation.ThankYou"
            android:parentActivityName="com.travelers.presentation.Payment"></activity>

        <activity
            android:name="com.travelers.presentation.SplashActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>